.head
{
    font-size: 50px;
    font-weight: bold;
}

.title{
    font-weight: 500;
}

.title2{
    font-weight: 450;
    
}
.title3{
    font-weight: 450;
    font-size: 14px;
    
}

.title4{
    font-weight: 600;
   text-align: center;
}

.card-bg{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

/* rotate card with 10deg anticlockwise on hover */
.card-bg:hover{
    transform: rotate(-10deg);
    background: rgba(0, 0, 255, 0.644)
}

.bg-card2{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    border: none;
}

.bg-card3{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.bg-card1{
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    border: none;
}